#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  /* background-color: black; */
}

/* header {
  border: 2px solid red;
  padding: 0;
  margin: 0;
  color: rgb(74, 187, 224);
}
header i {
  margin-left: 1rem;
  font-weight: 800;
} */
